* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --light-gray: #00000029;
    --medium-gray: #888888;
    --dark-gray: #707070; 
  }

  body, input, textarea, button {
    font-family: Helvetica, sans-serif;
    color: var(--dark-gray);

}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

button {
    cursor: pointer;
}

.header-container{
    width: 100%;
    position: relative;
    margin-bottom: 150px;
}

#top-div{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--dark-gray);
    height: 300px;
    -webkit-transform: skew(5deg); /* Chrome, Opera */
      -ms-transform: skew(5deg); /* IE */
    transform: skewY(5deg) ;
}

#top-content{
    -webkit-transform: skew(-5deg); /* Chrome, Opera */
      -ms-transform: skew(-5deg); /* IE */
    transform: skewY(-5deg) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#paragraph-1, #paragraph-2{
    color:  var(--white);
}
#paragraph-1{
    margin: 40px 0 5px 0;
    font-size: 20px;
}

h2{
    color: var(--white);
    font-size: 40px;
    margin-bottom: 25px;
}
#paragraph-2{
    font-size: 14px;
    margin-bottom: 40px;
}

#top-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.top-link{
    margin-right: 40px;
    transition: .3s;
}

.top-link:hover{
    opacity: .7;
}

.top-link:last-child{
    margin-right: 0;
}

.button-link{
    border-radius: 4px;
    padding: 12px 16px;
    width: 160px;
    border: none;
    font-size: 14px; 
    background-color: var(--white);
}

#bottom-div{
    width: 100%;
    height: 200px;
    background-color: var(--dark-gray);
}